<form #f [formGroup]="form" (ngSubmit)="login()">
    <div class="mb-3 form-group">
      <label for="email" class="form-label">Email address</label>
      <input formControlName ="email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger">
        <div *ngIf="email?.errors?.['required']">Email is required</div>
        <div *ngIf="email?.errors?.['maxlength']">Max Length should be {{ email?.errors?.['maxlength']?.requiredLength }}</div>
      </div>
    </div>
    <div class="mb-3 form-group">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" name="password" type="password" class="form-control" id="password">
      <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">
        <div *ngIf="password?.errors?.['required']">Password is required</div>
        <div *ngIf="password?.errors?.['minlength']">Min Length should be {{ password?.errors?.['minlength']?.requiredLength }}</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>